.banner {
    background-image: url();
    background-size: cover;
    height: 800px;
    text-align:end;
}

.banner .display-4 {
     color:ghostwhite;
     margin-top: 550px;
}

.banner .display-3{
    color:ghostwhite;
    font-size:larger;
}

.container h3 {
    color:#DFDFD9;
}

.bgcolour {
    background-color:black !important;
}

.bgcustom {
    background-color:#DAB58E !important;
}